<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
<head>
    <title>Service Unavailable</title>
</head>
<section layout:fragment="content">
    <div class="container mt-5">
        <h2 class="text-danger mb-4 display-3">503</h2>
        <h3 class="text-secondary mb-4 text-center">Service Unavailable</h3>
        <p class="text-center">The server is temporarily unavailable. Please try again later.</p>
        <div class="mb-3 text-center">
            <a th:href="@{/}" class="btn btn-primary mt-3">Go Home</a>
        </div>
    </div>
</section>
</html>